# Terraform sensitive/state files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
*.tfvars
*.tfvars.json

# OS/editor
.DS_Store
.vscode/
.idea/

# Logs/reports
*.log
reports/

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
